header{
    position: relative;
    border: 3px solid red;
    max-height: 100%;
}
.border-4{
	border-radius: 12px!important;
}
/*================для img Рюмка===========+*/
section.sectionWone{
background-color: #000000;  
}
.fixed-top{
  /*opacity: 0.5;*/
  background-color: #000000;
}

li{
list-style-type: none;
}
.card{
	/*margin: 0 1px 0 1px;*/
	/*box-shadow: inset  2.5px 2.5px 2.5px 2.5px rgba(0,0,0,.75);*/
	padding:2.5px 2.5px 2.5px 2.5px; 
}
.card-footer{
	padding-top: 0.1rem;
}
.d-flex{
	margin-right: 10px;
}
.bg-dark {
    background-color: #212529 !important;
}
.ggg{
	padding-top: 5%;
}
.navbar{
	padding-bottom: 0;
	margin-bottom: 5%;
}
.haier{
	height: 10%;
}
.offcanvas.show{
	display: inline-block;св
	top:9%;
}
#cart-nav{
	/*margin-top: 14%;*/
}
@media(min-width: 767px){
.btn{
	/*margin-left: 15px;*/
}	
}
@media (max-width: 1000px) {
  .ggg{
    padding-top: 6%;
  }
}
@media (max-width: 800px) {
  .ggg{
    padding-top: 8%;

  }
}
@media (max-width: 520px) {
  .ggg{
    padding-top: 9%;
  }
}
@media (max-width:440px) {
  .ggg{
    padding-top: 16%;
  }
}
#offcanvasExample,#offcanvasRight{
	border-radius: 9px;
	background-color: rgba(83,83,92,.9);
}
.offcanvas-title{

}
.offcanvas-body{
	padding: 0;
}
a.list-group-item:hover {
    background-color: #232327;
    color: #fff;
}
h5#offcanvasExampleLabel{
text-shadow: #A6B9E6 1px 0 10px;
margin: 0 auto;
font-size: 2rem;
color: #FFFFFF;
}
.offcanvas-body{
	overflow: hidden;
	/*height: 100%;*/
}
ul.category-list{
	height: 50px;
	display: inline-block;
}
.btn-primary{
	margin-right: 10px;
}
/*regist.pug*/
.my_pwd{
position: relative;
}
.password-control {
	position: absolute;
	top: 27px;
	right: -9px;
	display: inline-block;
	width: 53px;
	height: 44px;
	background: url(images/eye.png) 0 0 no-repeat;
}
.goods{
	margin-top: 8%;
}
.oplata, .punkt{
	border: 1px solid #00D3A9;
	/*height: 100px;*/
}
#ord_1{
	/*padding-top:10%;*/
	font-size: 2em;
}
.navbar{
	margin-bottom: 0;
}
section>img{
/*background-size: 80%;*/
max-width: 100%;
height: auto;
animation-name: rumka;
animation-duration: 15s;
/*animation-iteration-count: infinite;*/
animation-fill-mode: forwards;
/*transform: rotate(-40deg)*/
}
@-moz-keyframes rumka{
from{
    -moz-transform: scale(1);
}to{
    -moz-transform: scale(0.9);
}

