div(class="footer")
    div(class="container")
        div(class="row")
            div(class="col col-lg-12") Lite Shop. All rights reserverd Footer22!!!
script(src='//cdn.jsdelivr.net/npm/sweetalert2@11') 
//script(src='node_modules/bootstrap/dist/js/bootstrap.min.js')
//script(src='../node_modules/bootstrap/dist/js/bootstrap.bundle.js')
//include ../node_modules/bootstrap/dist/js/bootstrap.js
//script(src='../node_modules/bootstrap/dist/js/bootstrap.bundle.js')
script(src='/js/bootstrap.bundle.js')
//script(src='/js/nav_3.js')
script(src='/js/card22.js')
//script(src='/js/card_promis.js')
//--script(src='/js/card2.js')








