div(class="footer")
    div(class="container")
        div(class="row")
            div(class="col col-lg-12") Lite Shop. All rights reserverd
//script(src='https//cdn.jsdelivr.net/npm/sweetalert2@10')
//script(src='node_modules/bootstrap/dist/js/bootstrap.min.js')
//script(src='../node_modules/bootstrap/dist/js/bootstrap.bundle.js')
//include ../node_modules/bootstrap/dist/js/bootstrap.js
//script(src='../node_modules/bootstrap/dist/js/bootstrap.bundle.js')
script(src='/js/bootstrap.bundle.js')
script(src='/js/nav.js')
script(src='/js/card.js')
//--script(src='/js/card2.js')








