html
  head
    style
      meta(charset='utf-8')
      meta(
        name='viewport'
        content='width=device-width,  initial-scale=1.0'
      )
      meta(
        http-equiv='X-UA-Compatible'
       content="ie=edge"
      )
      //include ../public/css/mustard-ui.min.css
      //include ../node_modules/bootstrap/dist/csbootstrap.css
      include ../public/css/bootstrap.css
      include ../public/css/main.css
      //include ../public/js/bootstrap.js
      title Lite Shop
  body

