div(class="modal" tabindex="-1" id="exampleModal")
  div(class="modal-dialog")
    div(class="modal-content")
      div(class="modal-header")
        h5(class="modal-title") Modal title
        button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")
      div(class="modal-body")
        p Modal body text goes here.
      div(class="modal-footer")
        button(type="button" class="btn btn-secondary" data-bs-dismiss="modal") Close
        button(type="button" class="btn btn-primary") Save changes
button(type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal") Launch static backdrop modal