include head

div(class='wrap')
  div(class='content')
    header(class='site-header')
      include site_header_order.pug

    div(class='container')
      div(class='row')
        div(class='col col-md-8')
          h3(class="cart-header") Cart(Это ордер2па)
          //загружает из card.js
          div(id='cart-nav')
        div(class='col col-md-4') Правая колонка
         div(class='row')
          div(class='col col-md-12 oplata') пустая fdf dfdff fdfdf fdfdfdf fdfdfdf fdfdfdfdf fdfdfdfd fdfdfd fdfdfdf fdfdf fdfdfd fdfd fd
          div(class='col col-md-12 oplata') 1 метод оплаты 
          div(class='col col-md-12 punkt') 2 пункт выдачи
          div(class='col col-md-12 punkt')
           div(class='row')
            div(class='col-md-6') количество: 
            div(id='kol_1' class='col-md-6') 1
           div(class='row')
            div(class='col-md-6') скидка: 
            div(id='kol_2' class='col-md-6') 10%
           div(class='row')
            div(class='col-md-6') доставка(стоим.): 
            div(id='kol_3' class='col-md-6') 300
           div(class='row')
            div(class='col-md-6')
             h2 Итого: 
            div(id='ord_4' class='col-md-6') 12345678
    //include nav.pug

  include footer_22.pug
  script(src='js/order2.js')

