header
 div(class="collapse" id="navbarToggleExternalContent")
  div(class="container")
   //--h2 MY CART
   div(class="row")
    div(class="col-sm-8")
     div(id="cart-nav")
     div()
       a(href="/order" target="_blank")
       button(class='button btn-primary') Order

    div(class="col-sm-4")
     nav(class="nav flex-column")
      a(class="nav-link active" aria-current="page" href="#") Active
      a(class="nav-link" href="#") Link
      a(class="nav-link" href="#") Link
      a(class="nav-link" href="#") Disablid
 nav(class="navbar navbar-dark bg-dark")
  div(class="container")
   div(class="d-flex collapse" id="navbarToggleExternalContent")
    div(class="d-flex justify-content-start" 
    id="proba1")
    //--a(class="nav-link active" aria-current="page"  href="#") Active
    //--a(class="nav-link" href="#") Link
    //--a(class="nav-link" href="#") Link
    //--a(class="nav-link" href="#") Disabled
   button(class="navbar-toggler show-nav" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="true" aria-label="Toggle navigation")
    span(class="navbar-toggler-icon")